.ExperienceFormContainer {
  .ExperienceForm {
    display: flex;
    flex-direction: column;

    .FieldContainer {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      label {
        width: 15%;
      }

      input {
        width: 80%;
        height: 2rem;
      }

      textarea {
        resize: vertical;
        width: 80%;
      }
    }

    .LogoPreview {
      margin: 0.5rem 0 0 15%;

      &__text {
        font-size: 0.8rem;
        margin: 0;
      }

      &__logo {
        margin-bottom: 0.5rem;
        width: 10rem;
      }
    }
  }

  .SubmitExperienceButton {
    margin-left: 15%;
  }

  .SubmitExperienceSucces {
    text-align: center;
    margin-top: 2rem;
    color: var(--accent-color2);
  }

  .invalid {
    font-size: 0.8rem;
    color: red;
    margin: 0.5rem 0 0 15%;
  }
}
