<div class="NavBar">
  <div class="NBTitle">
    <h1>Thomas Kraak</h1>
    <h3>Full-stack developer</h3>
  </div>
  <div class="NBMenu">
    <div class="NBMenuItems">
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">Portfolio</a>
      <a routerLink="travel" routerLinkActive="active" ariaCurrentWhenActive="page">Travel</a>
      <a routerLink="hobbies" routerLinkActive="active" ariaCurrentWhenActive="page">Hobbies</a>
      <a routerLink="contact" routerLinkActive="active" ariaCurrentWhenActive="page">Contact</a>
    </div>
  </div>
  <div class="NBAdmin">
    <a routerLink="admin" routerLinkActive="active" ariaCurrentWhenActive="page">Admin</a>
    @if (token) {
      <button (click)="handleLogout()">Logout</button>
    }
  </div>
</div>
