<div>
  <div class="contactBackground"></div>
  <div class="contactBackdrop"></div>
  <card type="Contact">
    <div class="ContactTypes">
      <p>
        <a href="tel:+31614557060">
          <img src="../../app/images/phone.png" alt="phone" />
          +31 6 14 55 70 60
        </a>
      </p>
      <p>
        <a href="mailto:tskraak@gmail.com">
          <img src="../../app/images/mail.png" alt="mail" />
          {{ "tskraak@gmail.com" }}
        </a>
      </p>
      <p>
        <a href="https://github.com/TSKraak" target="_blank" rel="noreferrer">
          <img src="../../app/images/github.png" alt="github" />
          TSKraak
        </a>
      </p>
      <p>
        <a href="https://www.linkedin.com/in/thomaskraak87/" target="_blank" rel="noreferrer">
          <img src="../../app/images/linkedin.png" alt="linkedin" />
          thomaskraak87
        </a>
      </p>
    </div>
  </card>
</div>
