.loginForm {
  width: 20rem;
  display: flex;
  flex-direction: column;

  .usernameField,
  .passwordField {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.3rem;

    span {
      background-color: white;
      padding: 0.2rem;
    }

    input {
      width: 10rem;
      align-self: flex-end;
    }
  }

  button {
    font-size: 1rem;
    width: 4rem;
    align-self: flex-end;
  }

  button:hover {
    cursor: pointer;
  }

  .invalid {
    font-size: 14px;
    color: red;
    position: absolute;
    margin-left: 21rem;
  }
}

.addButtons {
  button {
    margin-bottom: 1rem;
    font-weight: bold;
    font-size: 1rem;
    width: 8rem;
    background-color: var(--button-color);
    border: solid 2px var(--accent-color2);
    border-radius: 8px;
    height: 2rem;
  }

  button:hover {
    cursor: pointer;
    background-color: var(--accent-color2);
  }

  &__project {
    margin-right: 2rem;
  }
}
