.ExperienceContainer {
    display: flex;
    flex-direction: column;
  
    .ExpData {
      border-top: solid gray 1px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
  
      .ExpText {
        display: flex;
        flex-direction: column;
  
        .ExpTitle {
          margin: 0;
          margin-top: 0.5rem;
        }
  
        .ExpCompany {
          font-size: 1rem;
          margin: 0;
          margin-top: 1rem;
        }
      }
  
      .ExpLogo {
        margin-top: 1.2rem;
        margin-right: 0.5rem;
        height: 2rem;
      }
    }
  }
  