.ProjectFormContainer {
  border-top: 1px solid grey;

  .ProjectForm {
    display: flex;
    flex-direction: column;

    .FieldContainer {
      display: flex;
      align-items: center;
      margin: 0.5rem 0;

      label {
        width: 15%;
      }

      input {
        width: 80%;
        height: 2rem;
      }

      textarea {
        resize: vertical;
        width: 80%;
      }
    }

    .ImagePreview {
      margin: 0.5rem 0 0 15%;

      &__text {
        font-size: 0.8rem;
        margin: 0;
      }

      &__image {
        margin-bottom: 0.5rem;
        width: 10rem;
      }
    }
  }

  .SubmitProjectButton {
    margin-left: 15%;
    font-weight: bold;
    font-size: 1rem;
    width: 8rem;
    color: white;
    background-color: var(--accent-color);
    border: solid 2px var(--accent-color);
    border-radius: 8px;
    height: 2rem;

    &:hover {
      cursor: pointer;
      background-color: grey;
      box-shadow: 3px 3px 5px grey;
    }
  }

  .SubmitProjectSucces {
    text-align: center;
    margin-top: 2rem;
    color: var(--accent-color2);
  }

  .invalid {
    font-size: 0.8rem;
    color: red;
    margin: 0.5rem 0 0 15%;
  }
}
